body{
font-family: Arial;
margin:0;
background:#0f172a;
color:white;
}

header{
display:flex;
justify-content:space-between;
padding:20px;
background:#020617;
}

.hero{
text-align:center;
padding:100px;
}

.plans{
display:flex;
justify-content:center;
gap:30px;
}

.plan{
background:#1e293b;
padding:20px;
border-radius:10px;
}

.sidebar{
width:200px;
height:100vh;
background:#020617;
position:fixed;
padding:20px;
}

.main{
margin-left:220px;
padding:40px;
}

.server-card{
background:#1e293b;
padding:20px;
border-radius:10px;
}